<div class="barra">
    <form action="/" method="post" class="form-add">
        <h2>Añadir Juego</h2>
        <input type="text" placeholder="Nombre de Juego" id="NameProudct" name="NameProudct">
        <input type="text" placeholder="Precio del juego" id="Precio" name="Precio">
        <input type="text" placeholder="URL de la imagen" id="Imagen" name="Imagen">
        <input type="text" placeholder="Descripcion del juego" id="Descripcion" name="Descripcion">
        <button type="submit" class="up">Añadir</button>
        <p class="close" id="salir">Salir</p>
    </form>
</div>