<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/" method="post" class="form-add">
        <h2>Editar Datos del Juego</h2>
        <input type="text" placeholder="Nombre de Juego" id="NameProudct" name="NameProudct">
        <input type="text" placeholder="Precio del juego" id="Precio" name="Precio">
        <input type="text" placeholder="URL de la imagen" id="Imagen" name="Imagen">
        <input type="text" placeholder="Descripcion del juego" id="Descripcion" name="Descripcion">
        <button type="submit" class="up">Editar</button>
    </form>
</body>
</html>